<div class="slideshow">

    <img
        class="photo"
        [class.fade]="transitioning"
        [src]="currentPhoto.path">

    <app-clock class="clock"></app-clock>

    <app-map
        class="map"
        [photo]="currentPhoto">
    </app-map>

<div class="metadata">
    <div class="location">
        {{ currentPhoto.location }}
    </div>

    <div class="date">
        {{ currentPhoto.takenAt | date:'EEEE d MMMM y' }}
    </div>
    <div class="date">
        {{ currentPhoto.takenAt | timeAgo:false }}
    </div>
</div>

</div>